<section style="margin:0%; padding:0%;">
  <div id="Carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="Assets/img/index_backgroud_1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>AUTONOMO</h1>
              <p>Cotiza ahora mismo tu auto con el mejor financiamiento y tasas de interés del mercado en México.</p>
              <p><a class="btn btn-lg btn-primary" href="#/cotizacion" role="button">Cotizar Ahora</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="Assets/img/index_backgroud_2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Automoviles del año</h1>
              <p>Autonomo pone a tu alcance autoviles último modelo, arma tu plan de pagos y obten tu auto.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="Assets/img/index_backgroud_3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sorteos y promociones</h1>
              <p>¿Ya terminiaste de pagar tu automovil? Entra a nuestros sorteos y gana uno de los diferentes premios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="#" alt="Imagen 1" width="140" height="140">
          <h2>Paso 1</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-primary" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="#" alt="Imagen 2" width="140" height="140">
          <h2>Paso 2</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="#" alt="Imagen 3" width="140" height="140">
          <h2>Paso 3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-danger" href="#" role="button">Ver detalles &raquo;</a></p>
        </div>
      </div>

</section>
