<section class="container-fluid" style="margin:0px;">
	<link rel="stylesheet" href="Assets/css/_landing.css">
	
	<div class="slide" data-stellar-background-ratio="0" data-stellar-horizontal-offset="0.5" data-stellar-vertical-offset="0">
		<section align="center">
            <button type="button" class="btn btn-default" href="#/">Inicio</button>
            <button type="button" class="btn btn-default" href="#/cotizacion">Cotizacion</button>
            <button type="button" class="btn btn-default" href="#/perfil">Perfil</button>
            <button type="button" class="btn btn-default" href="#/mensualidad/1">Mensualidades</button>
        </section>
	</div>
</section>