<footer class="footer respfooter">
   	<div class="row">
   		<div class="col-md-2" align="center">
   			<img src="Assets/img/logo_sin_texto.png" class="img-responsive img-footer" alt="">
   		</div>
    	<div class="container col-md-10" align="center">
			<p class="text-muted">
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#aboutUs">¿Quiénes somos?</button> | 
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#avisos"> Aviso de privacidad </button> | 
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#termcond"> Términos y condiciones</button> | 
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#ComoFun">¿Cómo funciona?</button> | 
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#faq">F.A.Q.</button> | 
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#contact">Contacto</button> <br> 
				<p>Siguenos en redes sociales:</p>
				<p>
					<a href="https://twitter.com/Autonomo_SF" target="_blank"><img src="Assets/img/twitter_icon.png" class="social_icon" alt="twitter"></a>
					<a href="https://www.facebook.com/AutonomoSF/" target="_blank"><img src="Assets/img/facebook_icon.png" class="social_icon" alt="facebook"></a>
				</p>
			</p>
			<span class="text-muted">
				<strong>Autonomo Servicios Financieros S.A. de C.V. © 2016 | Todos los derechos reservados.</strong> <br>
				<small><em>Made by <a href="http://fixter.org">Fixter Geek</em></a></small>
			</span>
		</div>
	</div>
</footer>
