<br><br>
<footer class="footer">
    <div class="container respfooter" align="center">
		<p class="text-muted">
			<a href="">¿Quiénes somos?</a> |
			<a href=""> Aviso de privacidad </a> |
			<a href=""> Términos y condiciones</a>
			<br>
			<a href="">¿Cómo funciona?</a> |
			<a href="">F.A.Q.</a>
			<br>
			<a href="">Contacto</a> | 
			<a href="">Siguenos</a>
		</p>
    </div>
    <div class="container" align="center">
		<span class="text-muted">©Copyright Made by Fixter Team 2016</span>
	</div>
</footer>