<br><br>
<footer class="footer respfooter">
    <div class="container" align="center">
		<p class="text-muted">
			<a href="">¿Quiénes somos?</a> | 
			<a href=""> Aviso de privacidad </a> | 
			<a href=""> Términos y condiciones</a> | 
			<a href="">¿Cómo funciona?</a> | 
			<a href="">F.A.Q.</a> | 
			<a href="">Contacto</a> <br> 
			<p>Siguenos</p>
			<p class>
				<img src="" alt="">
			</p>
		</p>
    </div>
    <div class="container" align="center">
		<span class="text-muted">
			<strong>Autonomo Servicios Financieros S.A. de C.V. © 2016 | Todos los derechos reservados.</strong> <br>
			<small><em>Made by Fixter Geek</em></small>
		</span>
	</div>
</footer>