<section>
	<div class="paymentPosition">
		<div class="row">
			<div class="container">
				<div class="col-xs-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" align="center">
							<h1>
									<strong>Financiamiento</strong>
							</h1>
						</div><!--panel-heading-->
						<div class="panel-body">
							<div class="col-xs-12 col-md-12 col-lg-12">
								<div class="table-responsive">
									<table class="table table-striped">
										<tr>
											<th><h4>#</h4></th>
											<th><h4>Concepto</h4></th>
											<th><h4>Precio</h4></th>
										</tr>
										<tr>
											<td><h5>1</h5></td>
											<td><h5>Cuota de Inscripción</h5></td>
											<td><h5>$2,969.00</h5></td>
										</tr>
										<tr>
											<td><h5>2</h5></td>
											<td><h5>Primer Mensualidad</h5></td>
											<td><h5>$5,376.42</h5></td>
										</tr>
									</table>
								</div><!--table-responsive-->
								<div class="col-xs-12 col-md-6 col-lg-6">
									<h2 align="right" class="text1">TOTAL</h2>
								</div><!--col-xs-md-lg-->
								<div class="col-xs-12 col-md-6 col-lg-6">
									<h2 align="right" class="text2">$8,345.42</h2>
								</div><!--col-xs-md-lg-->
								<br>
								<br>
								<div class="col-xs-12 col-md-12 col-lg-12 padButon">
									<button class="btn btn-primary btn-lg btn-block"><h2>REALIZAR PAGO</h2></button>
								</div><!--col-xs-md-lg-->
							</div><!--col-xs-md-lg-->
						</div><!--panel-body-->
					</div><!--panel-->
				</div><!--col-xs-md-lg-->
			</div><!--container-->
		</div><!--row-->
	</div><!--paymentPosition-->
</section> <!--Seccion-->
