<section>
	<div class="paymentPosition">
		<div class="row">
			<div class="container">
				<div class="col-xs-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" align="center">
							<h3>
									<strong>Financiamiento</strong>
							</h3>
						</div><!--panel-heading-->
						<div class="panel-body">
							<div class="col-xs-12 col-md-12 col-lg-12">
								<div class="table-responsive">
									<table class="table table-striped">
										<tr>
											<th><h5>#</h5></th>
											<th><h5>Concepto</h5></th>
											<th><h5>Precio</h5></th>
										</tr>
										<tr>
											<td><h6>1</h6></td>
											<td><h6>Cuota de Inscripción</h6></td>
											<td><h6>$2,969.00</h6></td>
										</tr>
										<tr>
											<td><h6>2</h6></td>
											<td><h6>Primer Mensualidad</h6></td>
											<td><h6>$5,376.42</h6></td>
										</tr>
									</table>
								</div><!--table-responsive-->
								<div class="col-xs-12 col-md-6 col-lg-6">
									<h4 align="right" class="text1">TOTAL</h4>
								</div><!--col-xs-md-lg-->
								<div class="col-xs-12 col-md-6 col-lg-6">
									<h4 align="right" class="text2">$8,345.42</h4>
								</div><!--col-xs-md-lg-->
								<br>
								<br>
								<div class="col-xs-12 col-md-12 col-lg-12 padButon" align="center">
									<button class="btn btn-primary btn-sm"><h4>REALIZAR PAGO</h4></button>
								</div><!--col-xs-md-lg-->
							</div><!--col-xs-md-lg-->
						</div><!--panel-body-->
					</div><!--panel-->
				</div><!--col-xs-md-lg-->
			</div><!--container-->
		</div><!--row-->
	</div><!--paymentPosition-->
</section> <!--Seccion-->
