<!-- <section class="container">
    <section class="perfil row">
    
        <article class="col-sm-12 col-md-4">
            <div class="container_userData">
                <figure class="containder_userImg col-md-offset-4 col-xs-offset-4">
                    <img class="img-responsive" ng-src="{{$ctrl.user.photoURL}}" alt="Foto de perfil">
                </figure>
                <strong>{{$ctrl.user.displayName}}</strong>
                <strong>{{$ctrl.user.email}}</strong>
            </div>
        </article>

        <article class="col-sm-12 col-md-8">

            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">Tus Autos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre del carro</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="car in $ctrl.listaCoches">
                                <th>{{$index+1}}</th>
                                <th>{{car.auto}}</th>
                                <th>{{car.plazo}}</th>
                            </tr>
                        </tbody>
                    </table>

            <h5>Tu garage</h5>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
                <div class="panel panel-default" ng-repeat="car in $ctrl.toches">
                    <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="!#/#{{$index+1}}" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
                        <strong>{{car.nombre}}</strong>
                        </a>
                    </h4>
                    </div>
                    <div id="{{$index+1}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body row">
                        <div class="col-sm-12 col-md-6">

                            <ul class="list-group">
                                <li class="list-group-item"><strong>{{car.marca}}</strong></li>
                                <li class="list-group-item">{{car.desc}}</li>
                                <li class="list-group-item"><a href="{{car.mas_info}}">Más info</a></li>
                            </ul>

                        </div>
                        <figure class="col-sm-12 col-md-6">
                            <img class="img-responsive" ng-src="{{car.img}}" alt="">
                        </figure>

                        <div class="progress col-sm-12 col-md-12" style="margin-top:2%;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        
                    </div>
                    </div>

                </div>
            </div>
        </article>

    </section>
</section>  -->


<section class="container">
    <section class="perfil row">
    
        <article class="col-sm-12 col-md-4 text-center">
        
            <div class="container_userData">
             <h2>Mi perfil</h2>
                <figure class="containder_userImg ">
                    <img class="img-responsive" ng-src="{{$ctrl.user.photoURL}}" alt="Foto de perfil">
                </figure>
                <h3>{{$ctrl.user.displayName}}</h3>
                <hr class="hrPerfil">
                <strong>{{$ctrl.user.email}}</strong>


                    


            </div>
        </article>

        <article class="col-sm-12 col-md-8">

        <!--     <div class="panel panel-dark">
            <div class="panel-heading">
                <h3 class="panel-title">Tus Autos</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre del carro</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in $ctrl.listaCoches">
                            <th>{{$index+1}}</th>
                            <th>{{car.auto}}</th>
                            <th>{{car.plazo}}</th>
                        </tr>
                    </tbody>
                </table> -->

           

           <ul class="nav nav-tabs">
              <li ng-class="{active: validTab(1)}"><a ng-click="SetTab(1)" href > <i class="fa fa-car"></i> Mi garage</a></li>
              <li ng-class="{active: validTab(2)}"><a ng-click="SetTab(2)" href ><i class="fa fa-user"></i> Datos del perfil</a></li>
              <li ng-class="{active: validTab(3)}"><a ng-click="SetTab(3)" href ><i class="fa fa-dollar"></i> Detalle de pagos</a></li>
             <!--  <li ng-class="{active: validTab(4)}"><a ng-click="SetTab(4)" href >Historial</a></li> -->
            </ul>

            

            <div class="tab-content"> 

                    <div ng-show="validTab(1)">

                            <div id="garage" class="tab-pane fade in active">



                                <div class="panel-group well" id="accordion" role="tablist" aria-multiselectable="true">
                  
                                <div class="panel panel-default" >
                                    <div class="panel-heading title-car" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="!#/#{{$index+1}}" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
                                        <strong>Beatle</strong>
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="{{$index+1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body row active">
                                        <div class="col-sm-12 col-md-6">

                                            <ul class="list-group">
                                                <li class="list-group-item"><strong>wolkswaguen</strong></li>
                                                <li class="list-group-item">120</li>
                                                <li class="list-group-item"><a href="javascript:void(0)">Más info</a></li>
                                            </ul>

                                        </div>
                                        <figure class="col-sm-12 col-md-6 text-center">
                                            <img class="img-responsive" ng-src="http://pngimg.com/upload/volkswagen_PNG1794.png" alt="">
                                            
                                        </figure>
                                        <div class="col-md-12 text-center">
                                            <a class="btn btn-danger " href="/#/detailPayment">Empieza a financiarlo</a>
                                        </div>
                                        
                                        
                                    </div>
                                    </div>

                                </div>
                            </div>




                            
                          </div>
                        

                    </div>
                          
                  <div  ng-show="validTab(2)" id="datosperf" >

                        <h5>Perfil completado en </h5>
                    <div class="progress col-sm-12 col-md-12" style="margin-top:2%;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                    <form class="well">
                        
                            <div class="form-group">
                                <label class="line-height">Nombre Completo</label>
                                <input class="form-control" type="text" placeholder="Nombre">
                             </div>

                       
                            <div class="form-group">
                                <label class="line-height">Fecha de nacimiento</label>
                                <input class="form-control" type="text" placeholder="Apellidos">
                            </div>

                             <div class="form-group">
                                 <label class="line-height">RFC(Con homo clave)</label>
                                <input class="form-control" type="text" placeholder="Email">
                            </div>

                             <div class="form-group">
                                <label class="line-height">CURP</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                              <div class="form-group">
                                <label class="line-height">Nacionalidad</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Sexo</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Estado Civil</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Telefono</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Sexo</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Correo electronico</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Domicilio</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>
                            <div class="form-group">
                                <label class="line-height">Escolaridad</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Ocupacion</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>

                            <div class="form-group">
                                <label class="line-height">Salario</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>
                            <div class="form-group">
                                <label class="line-height">Referencias personales</label>
                                <input class="form-control" type="text" placeholder="telefono">
                            </div>
                        
                            <div class="form-group text-center">
                                
                                <a class="btn btn-danger" href="javascript:void(0)">Guardar</a>
                            </div>

                       
                    </form>
                  </div>

                   <div  ng-show="validTab(3)" id="datosperf" >
                        <div class="well">


                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Ref de transaccion</th>
                                    <th>Concepto</th>
                                    <th>Fecha</th>
                                    <th>Metodo de pago</th>                                    
                                    <th>Importe</th>
                                    <th>Status</th>

                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>0</td>
                                    <td>4ca36931-1165</td>
                                    <td>Inscripcion</td>
                                    <td>14/Oct/2016</td>
                                    <td>Paypal</td>
                                    <td>$2000.00</td>
                                    <td class="btn btn-success text-success">Exitoso</td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>7ca34596-4323</td>
                                    <td>Mensualidad</td>
                                    <td>14/Oct/2016</td>
                                    <td>Paypal</td>
                                    <td>$6400.00</td>
                                    <td class="btn btn-success text-success">Exitoso</td>
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                            
                                
                           
                        </div>
                  </div>
                 
                </div> <!-- end tab content-->


                    
        </article>

    </section>
</section> 