<section class="container">
	<article class="row">
		<div class="col-md-8">
	<h1>Confirmando</h1>
	<p>El pinche carro:{{$ctrl.cotizacion.auto}}</p>
	<p>El pinche carro:{{$ctrl.cotizacion.plazo}}</p>
		</div>
		<div ng-hide="$ctrl.user" class="col-md-4">
			<h3>¡Estas a 1 solo paso para meterlo a tu cochera!</h3>
			<button  ng-click="$ctrl.logIn()">¡Inicia Sesión!</button>
		</div>
		<div ng-show="$ctrl.user" class="col-md-4">
			<h3>¡Ahora si!</h3>
			<button  ng-click="$ctrl.guardaCoche()">¡Metelo a tu cochera!2</button>
		</div>
	</article>
</section>


