<h1>Esto funciona compa</h1>

<style type="text/css">
	.texto{
		font-size: 300px;
	}
	.texto .meses{
		font-size: 150px;
	}
</style>
 <div class="row col-md-10 col-md-offset-1">
 <div class="col-xs-6 col-md-6">
    <div class="thumbnail" align="center">
      <div class="texto">48 <div class="meses"> Meses</div></div>

     <button class="btn btn-primary btn lg">Agregar al Garaje</button>

    </div>
 </div>
 <div class="col-xs-6 col-md-6">
    <div class="thumbnail">
      <div class="texto" align="center">60</div>
    </div>
 </div>
 </div>