
<style type="text/css">
	.texto{
		font-size: 250px;
	}
	.texto .meses{
		font-size: 150px;
	}
	.buttonText{
		font-size: 57px;
	}
</style>
<br><br>
<h1 class="buttonText" align="center"><strong>Selecciona Tu Forma De Pagó</strong></h1>
<br>
<br>
<br>
<div class="row col-md-10 col-md-offset-1">
	<div class="col-xs-12 col-sm-12 col-md-6">
	    <div class="thumbnail" align="center">
	    	<div class="texto">48 <div class="meses"> Meses</div></div>
	    	<button class="btn btn-primary btn-lg buttonText">Agregar al Garaje</button>
	    </div>
	 </div>
	<div class="col-xs-12 col-sm-12 col-md-6">
	    <div class="thumbnail" align="center">
	    	<div class="texto">60 <div class="meses"> Meses</div></div>
	    	<button class="btn btn-primary btn-lg buttonText">Agregar al Garaje</button>
	    </div>
	 </div>
</div>