
	<div class="card">
	  <img class="card-img-top" src="Assets/img/tesla.jpg" alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title">Model 3</h4>
	    <p class="card-text">Descripción Breve del auto</p>
	    
	  </div>
	</div>
	
</div>

		<section ng-controller="CarController as panel">
		<ul class="nav nav-pills" >
			
			<li ng-class = "{active:panel.isSelected(1)}">
				<a href ng-click="panel.selectTab(1)">48 meses</a>
			</li>
			<li ng-class = "{active:panel.isSelected(1)}">
				<a href ng-click="panel.selectTab(1)">60 meses</a>
			</li>
			
			


		</ul>
			
			<div class="panel" ng-show="panel.tab===1">
				<h2>48 Mensualidades de $3000</h2>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<h3>60 Mensualidades de $2500</h3>
			</div>
			
	</section>	
	</div>