
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: black;
}

.respfooter {
  padding: 2%;
}

.img-footer{
	max-width: 150px;
}
.social_icon {
	max-width: 50px;	
}

.foott {
  margin:80% 0% 0% 0% ;
}