.nava{
	position: fixed;
	top: 0;
	z-index: 2;
	background-color:black;
	width: 100%;
	height: 64px;
	color:white;
}
.nava .logo{
	font-size: 3rem;
}
.nava .logo{
	margin-left: 50px;
	display: inline-block;
	margin-top: 10px;
}
.nava .right .como_funciona{
	background: none !important;
	border: 1px solid white !important;

}

.nava .right .btn-circle{
	background: none !important;
	border: 1px solid white !important;
	border-radius: 40px;
	color:#fff;
}
.nava ul li, .nava ul, .nava h2{
	display: inline-block;
}
	.right{
		display: none;
	} 
@media(min-width: 600px){

	.right{
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
}
.white{
	background: white;
	color:black;
	transition:all 0.5s ease;
	font-size: 2rem;
}
.white:hover, .white:visited{
	background: black;
	color:white;
	border: 1px solid white;
}

.btn:focus{
	background: black;
	color:white;
	border: 1px solid white;
}
