<div class="container">
    <div class="row card-container-master">


        
        <div class="col-md-4" ng-repeat="producto in $ctrl.data">




                    <div class="card-container">
                         <div class="card">
                             <div class="front">
                                 <div class="cover">
                                     <img ng-src="{{producto.img}}"/>
                                 </div>
                                 
                                 <div class="content">
                                     <div class="main">
                                         <h3 class="name">{{producto.nombre}}</h3>
                                         <p class="profession">{{producto.marca}}</p>

                                         
                                     </div>
                                     
                                 </div>
                             </div> <!-- end front panel -->
                             <div class="back">
                                 <div class="header">
                                     <h5 class="motto">"Automovil de trabajo"</h5>
                                 </div>
                                 <div class="content">
                                     <div class="main">
                                         <h4 class="text-center">Descripcion</h4>
                                         <p class="text-center">{{producto.desc}}</p>

                                         <div class="stats-container">
                                           
                                             <a class="btn btn-block btn-primary" href="#/mensualidad/{{producto.id}}">Adquierelo Ahora</a>
                                         </div>

                                     </div>
                                 </div>
                           
                             </div> <!-- end back panel -->
                         </div> <!-- end card -->
                     </div> <!-- end card-container -->
                            







        </div>
    </div>
</div>




