
<style type="text/css">
    
    #owl-demo .item{
    background: #111;
    
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}


.animate-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.animate-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

</style>
<div class="container">
    <div class="row card-container-master">

    <div class="titulo">            
            <h1> Encuentra tu auto ideal </h1>
        </div> 

    <div class="col-md-3">



        <span>Encuentra facilmente: </span>
        <hr>
         <select class="form-control" ng-model="buscador.marca">
            <option value="">Marca</option>       
            <option value="nissan">Nissan</option>       
            <option value="chevrolet">Chevrolet</option>       
            <option value="volkswagen">Volkswagen</option>       
        </select>
        <br>

        <input class="form-control" type="text" placeholder="¿Qué auto o marca buscas?" ng-model="buscador.nombre">
        <br>
       
        <select class="form-control" ng-model="buscador.cil">
            <option value=""># Cilindros</option>       
            <option value="4cil">4 cil</option>       
            <option value="6cil">6 cil</option>       
         
        </select>
        


    </div>

    





<!-- <slick slides-to-show="3" arrows="true" slides-to-scroll="1" init-onload=true data="$ctrl.data">

        
        <div class="col-md-12" ng-repeat="producto in $ctrl.data | filter : buscador">


                            <div class="card-container">
                                 <div class="card">
                                     <div class="front">
                                         <div class="cover" style="background-image:url({{producto.img}})">
                                             
                                         </div>
                                         
                                         <div class="content">
                                             <div class="main">
                                                 <h3 class="name">{{producto.nombre}}</h3>
                                                 <p class="profession">{{producto.marca}}</p>

                                                 
                                             </div>
                                             
                                         </div>
                                     </div> end front panel
                                     <div class="back">
                                         <div class="header">
                                             <h5 class="motto">"Automovil de trabajo"</h5>
                                         </div>
                                         <div class="content">
                                             <div class="main">
                                                 <h4 class="text-center">Descripcion</h4>
                                                 <p class="text-center">{{producto.desc}}</p>

                                                 <div class="stats-container">
                                                   
                                                     <a class="btn btn-block btn-primary" href="#/mensualidad/{{producto.id}}">Adquierelo Ahora</a>
                                                 </div>

                                             </div>
                                         </div>
                                   
                                     </div> end back panel
                                 </div>end card
                             </div> end card-container                   

                </div> 

   


</slick> -->


<div class="col-md-9">
    
    <div class="row">

             <div class="col-md-3" ng-animate="'animate'" ng-repeat="producto in $ctrl.data | filter : buscador">


                            <div class="card-container">
                                 <div class="card">
                                     <div class="front">
                                         <div class="cover" style="background-image:url({{producto.img}})">
                                             
                                         </div>
                                         
                                         <div class="content">
                                             <div class="main">
                                                 <h3 class="name">{{producto.nombre}}</h3>
                                                 <p class="profession">{{producto.marca}}</p>

                                                 
                                             </div>
                                             
                                         </div>
                                     </div> <!-- end front panel -->
                                     <div class="back">
                                         <div class="header">
                                             <h5 class="motto">"Automovil de trabajo"</h5>
                                         </div>
                                         <div class="content">
                                             <div class="main">
                                                 <h4 class="text-center">Descripcion</h4>
                                                 <p class="text-center">{{producto.cil}}</p>
                                                 <p class="text-center">{{producto.desc}}</p>

                                                 <div class="stats-container">
                                                   
                                                     <a class="btn btn-block btn-primary" href="#/mensualidad/{{producto.id}}">Adquierelo Ahora</a>
                                                 </div>

                                             </div>
                                         </div>
                                   
                                     </div> <!-- end back panel -->
                                 </div><!-- end card -->
                             </div> <!-- end card-container  -->                  

                </div> 
        



    </div>
</div>
 


<!-- 


                    <div class="card-container">
                         <div class="card">
                             <div class="front">
                                 <div class="cover" style="background-image:url('http://pngimg.com/upload/volkswagen_PNG1794.png')">
                                     
                                 </div>
                                 
                                 <div class="content">
                                     <div class="main">
                                         <h3 class="name">Beatle</h3>
                                         <p class="profession">Wolkswagen</p>

                                         
                                     </div>
                                     
                                 </div>
                             </div> end front panel
                             <div class="back">
                                 <div class="header">
                                     <h5 class="motto">"Automovil"</h5>
                                 </div>
                                 <div class="content">
                                     <div class="main">
                                         <h4 class="text-center">Descripcion</h4>
                                         <p class="text-center">Nuevo Volkswagen Beetle 2017, un coche moderno en su interior y exterior. Descubre su diseño impactante y estilo único. ¡Te encantará! </p>

                                         <div class="stats-container">
                                           
                                             <a class="btn btn-block btn-primary" href="#/mensualidad/1">Adquierelo Ahora</a>
                                         </div>

                                     </div>
                                 </div>
                           
                             </div> end back panel
                         </div> end card
                     </div> end card-container

                     -->


    </div>
</div>


<script type="text/javascript">
    
     $(document).ready(function(){
      $('.slid').slick({

         infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3
        
      });
    });
</script>











