
<style type="text/css">
    
    #owl-demo .item{
    background: #111;
    
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
</style>
<div class="container">
    <div class="row card-container-master">

        <div class="titulo">            
            <h1> Encuentra tu auto ideal </h1>
        </div> 



<br>
<br>
<br>

<slick slides-to-show="3" arrows="true" slides-to-scroll="1" init-onload=true data="$ctrl.data">


<div class="col-md-12" ng-repeat="producto in $ctrl.data">


                    <div class="card-container">
                         <div class="card">
                             <div class="front">
                                 <div class="cover" style="background-image:url({{producto.img}})">
                                     
                                 </div>
                                 
                                 <div class="content">
                                     <div class="main">
                                         <h3 class="name">{{producto.nombre}}</h3>
                                         <p class="profession">{{producto.marca}}</p>

                                         
                                     </div>
                                     
                                 </div>
                             </div> <!-- end front panel -->
                             <div class="back">
                                 <div class="header">
                                     <h5 class="motto">"Automovil de trabajo"</h5>
                                 </div>
                                 <div class="content">
                                     <div class="main">
                                         <h4 class="text-center">Descripcion</h4>
                                         <p class="text-center">{{producto.desc}}</p>

                                         <div class="stats-container">
                                           
                                             <a class="btn btn-block btn-primary" href="#/mensualidad/{{producto.id}}">Adquierelo Ahora</a>
                                         </div>

                                     </div>
                                 </div>
                           
                             </div> <!-- end back panel -->
                         </div> <!-- end card -->
                     </div> <!-- end card-container -->                     

        </div>

</slick>

















    </div>
</div>













