<nav class="nava">
<!-- <figure class="logo"> -->
<a href="#/">
  <img style="height:100%;margin:5px 0 0 30px;" src="assets/img/logo_sin_texto.png">
</a>
<!-- </figure> -->
<div class="right">

		
		<span>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg como_funciona" data-toggle="modal" data-target="#myModal">
				¿Como funciona?
			</button>
		</span>
		<span><a href="#/cotizacion" class="btn btn-primary white">Cotiza tu auto</a></span>

		<span style="cursor:pointer;" ng-hide="$ctrl.user" ng-click="$ctrl.logIn()">Iniciar Sesión</span>
		<img ng-show="$ctrl.user" style="width:40px;border-radius:90%;" ng-src="{{$ctrl.user.photoURL}}">
		<span style="cursor:pointer;" ng-show="$ctrl.user" ng-click="$ctrl.logOut()">Cerrar Sesión</span>

</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¿Como funciona?</h4>
      </div>
      <div class="modal-body">
        <p>
          <h4>CUÉNTANOS QUE VEHÍCULO REQUIERES</h4>
          Selecciona el automóvil de acuerdo a tus necesidades, gusto y capacidad de pago. Recuerda que en esta etapa no requieres extensivo papeleo ni acudir a oficinas para formarte en largas filas, con Autónomo Servicios Financieros este proceso es rápido y sencillo. Utiliza nuestra aplicación dinámica para confirmar que vehículo requieres y si lo quieres a 48 o 60 mensualidades.
        </p>
        <p>
          <h4>CUÉNTANOS UN POCO DE TI</h4>
          Ingresa tu información personal en nuestros sencillos formularios en línea, con esto podremos preparar el contrato de inmediato y nos dará oportunidad de asignar la referencia bancaria a dónde deberás pagar tu mensualidad. Esto lo podrás realizar en la ventanilla Banamex, transferencia electrónica o tienda OXXO.
        </p>
        <p>
          <h4>ESTRENA TU VEHÍCULO</h4>
          Recuerda que debes mantener una excelente puntualidad de mensualidades,
          con esto podrás estrenar tu auto por: Sorteo, Subasta o adjudicación directa. 
          Te asesoraremos en todo el proceso, y recuerda que deberás enfrentar gastos 
          adicionales al recibir el vehículo.
        </p>
        <p>
          <h4>DISFRUTA TU VEHÍCULO Y CONCLUYE TUS MENSUALIDADES</h4>
          Continúa el pago de las mensualidades restantes y se un orgulloso 
          poseedor de un vehículo nuevo a un costo de financiamiento bajo. 
          <strong style="display:block;">¡Felicidades y esperamos verte pronto!</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>