<nav class="navbar navbar-default nava" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar Menú</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <figure class="logo">
      <a href="#/">
        <img style="height:45px;margin:3px 0px 0px 0px;" src="Assets/img/logo_sin_texto.png">
      </a>
    </figure>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div  class="collapse navbar-collapse navbar-ex1-collapse right navaback" style="padding-right: 30px">
    <ul class="nav navbar-nav navbar-right">
      <li style="">
      <a href="#">
      <button type="button" class="btn btn-primary btn-lg btn-circle" data-toggle="modal" data-target="#myModal">
            ¿Como funciona?
      </button>
       </a>
       </li>
      <li>
        <a href="#/cotizacion">
          <button type="button" class="btn btn-primary btn-lg btn-circle">
            Cotiza Tu Auto
          </button>
        </a>
      </li>
      <li class="liss">
          <span style="cursor:pointer;" ng-hide="$ctrl.user" ng-click="$ctrl.logIn()">
            Iniciar Sesión
          </span>
          <span style="cursor:pointer; margin-top: 10px" ng-show="$ctrl.user" ng-click="$ctrl.logOut()">
            <a href="#/perfil">
            <img ng-show="$ctrl.user" style="width:40px;border-radius:90%;" ng-src="{{$ctrl.user.photoURL}}">
            </a>
            Cerrar Sesión
          </span>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¿Como funciona?</h4>
      </div>
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/a-D0II4FqCU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>