<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Speisekarte</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="imagenn">
      <a class="navbar-brand" href="#/">
          <img class="imagen" src="Assets/img/logo_sin_texto.png">
      </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="padd">
      <ul class="nav navbar-nav navbar-right" align="center">
        <li>
          <a href="javascript:void(0)">
            <button type="button" class="btn btn-circle" data-toggle="modal" data-target="#myModal">
              ¿Cómo Funciona?
            </button>
          </a>
        </li>
        <li>
          <a href="#/cotizacion">
            <button type="button" class="btn btn-circle">
              ¡Cotiza Tu Auto!
            </button>
          </a>
        </li>
        <li>
          <a ng-hide="$ctrl.user" ng-click="$ctrl.logIn()" class="pointer">
            <button type="button" class="btn btn-circle">
              Iniciar Sesión
            </button>
          </a>
        </li>
        <li class="textnavv">
          
          <span ng-show="$ctrl.user" class="pointer">
            <a href="#/perfil">
              <img style="width: 40px; border-radius:90%;" ng-src="{{$ctrl.user.photoURL}}">
            </a>
            <a ng-click="$ctrl.logOut()">
              Cerrar Sesión
            </a>
          </span>
        </li>
      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¿Como funciona?</h4>
      </div>
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/a-D0II4FqCU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>